@using HaberPortali.Entity.Model

@model Haber

@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="~/Assets/images/post.jpg" data-speed="0.8"></div>
    <div class="home_content">
        <div class="post_category trans_200"><a href="category.html" class="trans_200">sport</a></div>
        <div class="post_title">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</div>
    </div>
</div>

